html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.game-window {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  box-sizing: border-box;
}
.game-window.game-won {
  transition: background-color 0.3s ease-in;
  background-color: #7bac7b;
}
.game-window.game-won canvas {
  transition: border-color 0.3s ease-in;
  border-color: green;
}
.game-window.game-over {
  transition: background-color 0.3s ease-in;
  background-color: #da8197;
}
.game-window.game-over canvas {
  transition: border-color 0.3s ease-in;
  border-color: #a24;
}
canvas {
  display: block;
  position: relative;
  height: 70vh;
  height: calc(100vh - 12rem);
  width: auto;
  background: white;
  border: 2px solid #444;
  box-shadow: inset 0 0 6px #aaa;
}
canvas.death {
  animation: quake 0.8s;
}
.hud {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0;
}
.hud p {
  padding: 0.2em 0.6em;
  margin: 0.2em;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 6px black;
  text-align: center;
}
.hud p.score {
  background-color: black;
  border: 3px solid orange;
}
.hud p.foods {
  background-color: green;
}
.hud p.speed {
  background-color: #24a;
}
.hud p.steps {
  background-color: orange;
}
.hud p.lives {
  background-color: #a24;
}
.hud button {
  padding: 0.2em 0.6em;
  margin: 0.2em;
  font-size: 2rem;
  color: white;
  border: none;
  background: linear-gradient(#555, #444);
  border-radius: 3px;
}
.hud button:active {
  background: linear-gradient(#333, #444);
}
.hud .message {
  padding: 0.2em 0.6em;
  margin: 0.2em;
  font-size: 2rem;
  color: white;
}
.hud.top {
  top: 0;
}
.hud.bottom {
  bottom: 0;
}
.about {
  padding-top: 2rem;
  padding-bottom: 12rem;
}
.about h1 {
  font-size: 4rem;
  text-align: center;
}
.about p {
  font-size: 1.5rem;
  max-width: 800px;
  padding: 1rem;
  margin: auto;
}
@keyframes quake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-12deg);
  }
  21% {
    transform: rotate(10deg);
  }
  32% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(6deg);
  }
  58% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(3deg);
  }
  86% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
